<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Cars</title>
    <link rel="stylesheet" th:href="@{/css/driveza-app.css}">
</head>
<body>

<div class="container">

    <h1>Cars</h1>

    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="c : ${cars}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.brand}"></td>
            <td th:text="${c.model}"></td>
            <td th:text="${c.status}"></td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>