<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Users</title>
</head>
<body>

<div class="container">

    <h1>Users</h1>

    <table>

        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.role}"></td>
            <td th:text="${u.active ? 'ACTIVE' : 'BLOCKED'}"></td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>