<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Rental</title>
    <link rel="stylesheet" th:href="@{/css/driveza-app.css}">
</head>
<body>

<div class="container">

    <h1>Create Rental</h1>

    <form th:action="@{/rentals/rent}"
          th:object="${rentRequest}"
          method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <label>User ID</label>
        <input type="number" th:field="*{userId}" min="1" required />

        <label>Vehicle ID</label>
        <input type="number" th:field="*{vehicleId}" min="1" required />

        <button type="submit">Start Rental</button>

    </form>

</div>

</body>
</html>
